.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;

  .bg {
    position: fixed;
    width: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 999;

    .links {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      gap: 20px;

      a {
        font-size: 40px;
      }
    }
  }

  button {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
  }
}
