* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  color: lightgray;
  background-color: #0c0c1d;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.course {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: white;
}
